<div>
  <div class="flex flex-col text-white items-center justify-center h-screen" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpxEf9sYU-apD_kXdHhcGCSTv-WyszMQ_bwg&s');">
    <div class="font-bold text-center" style="font-size: 4.5rem;">Don Bosco College, Yelagiri Hills
    </div>
    <div class="text-2xl mt-4 cursor-pointer">
      <a [routerLink]="['/register']" routerLinkActive="router-link-active-Register"
      class="bg-blue-600 font-semibold rounded-3xl px-4 py-2 pb-3 transition hover:bg-blue-700">Apply Now</a>
    </div>
  </div>
</div>